@import "styles/utils";

.header {
  padding-top: 32px;

  @include media(">tablet") {
    padding-top: 80px;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;

    .logo {
      width: 117px;

      @include media(">tablet") {
        width: 156px;
      }

      a {
        display: flex;

        img {
          width: 100%;
        }
      }
    }
  }
}
