@import "styles/utils";

.fontItem {
  position: relative;
  font-weight: bold;
  font-size: 15px;
  line-height: 19px;
  color: rgba(30, 33, 63, 0.73);
  background: #EFF1FA;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  @include media(">desktop") {
    &:hover {
      &::after {
        position: absolute;
        top: -4px;
        left: -4px;
        width: calc(100% + 6px);
        height: calc(100% + 6px);
        content: "";
        z-index: 1;
        border: 1px solid #EFF1FA;
        border-radius: 50%;
      }
    }
  }

  &.active {
    color: #FFFFFF;
    background: #161932;
  }
}
