@import "styles/utils";

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(10, 12, 28, 0.5);
  z-index: 5;
  transform: scale(0);

  @keyframes open {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes close {
    0% {
      opacity: 1;
    }

    99% {
      opacity: 0;
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }

  &.open {
    animation-name: open;
    animation-duration: 0.8s;
    animation-fill-mode: both;
    transform: scale(1);

    .container .modalBox {
      transform: scale(1);
    }
  }

  &.close {
    animation-name: close;
    animation-duration: 0.8s;
    animation-fill-mode: both;
    transform: scale(1);
  }

  .container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 6;

    .modalBox {
      position: relative;
      width: 100%;
      min-width: 327px;
      background: #FFFFFF;
      border-radius: 15px;
      transition: transform 0.6s;
      transform: scale(0);

      .header {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        padding: 24px 24px 28px;
        border-bottom: 1px solid #E3E1E1;

        @include media(">tablet") {
          padding: 34px 38px 31px 40px;
        }

        .title {
          font-weight: bold;
          font-size: 20px;
          line-height: 25px;
          color: #161932;

          @include media(">tablet") {
            font-size: 28px;
            line-height: 35px;
          }
        }

        .closeButton {
          background: transparent;
          border: 0;
          cursor: pointer;

          @include media(">desktop") {
            svg path {
              transition: opacity 0.3s;
            }

            &:hover {
              svg path {
                opacity: 1;
              }
            }
          }
        }
      }

      .body {
        padding: 24px 23px 59px;

        @include media(">tablet") {
          padding: 24px 38px 59px 40px;
        }
      }
    }
  }
}
