@import "styles/utils";

.multiSwitchContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 45px;
  z-index: 1;

  > div {
    flex: 1;
  }

  @include media(">tablet") {
    margin-top: 55px;
  }
}

.timerContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 48px;

  @include media(">tablet") {
    margin-top: 109px;
  }
}

.settingsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 79px;

  @include media(">tablet") {
    margin-top: 144px;
  }
}
