.multiSwitchContainer {
  position: relative;
  margin-top: 45px;
  z-index: 1;
}

.timerContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 48px;
}

.settingsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 79px;
}
