@import "styles/utils";

.settings {
  .settingsButton {
    background: transparent;
    border: none;
    cursor: pointer;

    @include media(">desktop") {
      svg path {
        transition: opacity 0.3s;
      }

      &:hover {
        svg path {
          opacity: 1;
        }
      }
    }
  }

  .groupWrapper {
    padding: 24px 0;
    border-bottom: 1px solid #E3E1E1;

    @include media(">tablet") {
      &.inline {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .groupTitle {
          margin-bottom: 3px;
        }
      }
    }

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
      border-bottom: none;
    }

    .groupTitle {
      font-weight: bold;
      font-size: 11px;
      line-height: 14px;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 4.2px;
      color: #161932;
      margin-bottom: 18px;

      @include media(">tablet") {
        font-size: 13px;
        line-height: 16px;
        letter-spacing: 5px;
        text-align: left;
        margin-bottom: 26px;
      }
    }

    .inputFieldContainer {
      display: grid;
      grid-gap: 8px;

      @include media(">tablet") {
        display: flex;
        grid-gap: 20px;
      }
    }

    .inputFieldWrapper {
      display: flex;
      align-items: center;

      @include media(">tablet") {
        align-items: flex-start;
        flex-direction: column;
        grid-gap: 10px;
      }

      label {
        flex: 1;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        color: rgba(30, 33, 63, 0.4);
      }

      .numberInputWrapper {
        max-width: 140px;
      }
    }
  }

  .applyButton {
    position: absolute;
    bottom: 0;
    left: 50%;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    background: var(--theme-color);
    border-radius: 26.5px;
    border: none;
    padding: 17px 46px 16px;
    transform: translateX(-50%) translateY(50%);
    cursor: pointer;
  }

  .select {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 16px;
  }
}
