@import "styles/utils";

.timer {
  position: relative;
  width: 300px;
  height: 300px;
  background: linear-gradient(315deg, #2E325A 0%, #0E112A 100%);
  box-shadow: -50px -50px 100px #272C5A, 50px 50px 100px #121530;
  border-radius: 50%;
  font-weight: bold;
  color: #D7E0FF;
  cursor: pointer;

  @include media(">tablet") {
    width: 410px;
    height: 410px;
  }

  @include media(">desktop") {
    .pause {
      transition: color 0.3s;
    }

    &:hover {
      .pause {
        color: var(--theme-color);
      }
    }
  }

  &::before {
    position: absolute;
    top: 16px;
    left: 16px;
    width: 269px;
    height: 269px;
    background: #161932;
    border-radius: 50%;
    content: "";
    z-index: 0;

    @include media(">tablet") {
      top: 22px;
      left: 22px;
      width: 366px;
      height: 366px;
    }
  }

  > div {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
  }

  .time {
    font-size: 80px;
    line-height: 99px;
    text-align: center;
    letter-spacing: -4px;
    margin-bottom: 12px;

    @include media(">tablet") {
      font-size: 100px;
      line-height: 124px;
      letter-spacing: -5px;
      margin-bottom: 19px;
    }
  }

  .pause {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 13px;
    margin-right: -13px;

    @include media(">tablet") {
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 15px;
    }
  }

  .progressbarContainer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    .circleProgress {
      width: 265px;
      height: 265px;
      transform: rotate(-90deg);

      @include media(">tablet") {
        width: 360px;
        height: 360px;
      }
    }

    .bar {
      fill: none;
    }

    .bar {
      stroke: var(--theme-color);
      stroke-linecap: round;
      transition: stroke-dashoffset 0.3s;
    }
  }
}
